#exp {
  position: relative;
  width: 100%;
  background-image: linear-gradient(to right bottom, #010101, #010101, #7f6e5b);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
  .road {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity:0.5;
    z-index: 0;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform: translateY(20px);
    }
  }

  .exp-title {
    text-shadow: #FFF 0px 0px 30px;
    position: relative;
    margin-top: 100px;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    z-index: 5;
    span {
      margin-left: 20px;
      font-family: "Poetsen One", sans-serif;
    }
  }

  .exp-content {
    position: relative;
    z-index: 10;
    width: 80%;
    margin: 10vh auto;
   
    .card-wrap{
      width: 100%;
      // padding: 0 10vw;
      display: flex;
      gap: 20px;
     
      .year{
        font-size: 2rem;
        .arrow{
          font-size: 3rem;
          margin-top: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          animation: updown 3s ease-in-out infinite;
        }
      }
      .card{
        box-shadow: #FFF 0px 0px 30px;
        width: 100%;
        border-radius: 30px;
        padding: 20px;
        border: none;
        background: rgba(0, 0, 0, 0.8);
        h3{
          font-size: 1.5rem;
          padding: 10px 0;
          font-weight: bold;
          
        }
        p{
          line-height: 2rem;
        }
      }
    }
    
  }

  @media (max-width: 960px) {
    .exp-title{
     font-size: 2.4rem;
    }
    .road{
      img{
        object-fit: fill;
        opacity: 0.8;
      }
    }
  }

  @media(max-width:768px){
    // height: auto;
    .exp-title{
     font-size: 1.8rem;
    }
   
  }
}

@keyframes updown{
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(-10px);
  }
  100%{
    transform: translateY(0);
  }
}
