.load-container {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, #010101, #010101, #7f6e5b);
}

.load-title {
  font-size: 2rem;
  font-weight: bold;
  margin: 0 30px;

  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5),
    /* 主陰影 */ -1px -1px 2px rgba(255, 255, 255, 0.3); /* 亮邊高光 */
}

.bgm-select {
  display: flex;
  gap: 20px;
  button {
    width: 100px;
    height: 40px;
    cursor: pointer;
    color: #fff;
    border: none;
    outline: none;
    background: rgb(236, 62, 62);
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
	transition: 0.3s;
    &:nth-child(2) {
      background-color: rgb(80, 173, 80);
    }
	&:hover{
		transform: scale(1.2);
	}
  }
}
