.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid red;
    background: transparent;
    h1{
        font-size: 2rem;
        font-weight: bold;
        margin-left: 20px;

    }
    ul{
        display: flex;
        margin-right: 20px;
        li{
            padding: 0 10px;
        }
    }
}